@model Exer2.Models.Animal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <p id="formTi" class="text-center">Dados do Animal</p>
    <p class="text-center" id="tituloResumo">Edite os dados de seu animal abaixo</p>
    <div id="pequeno2">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Nome_Animal, "Nome do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-6">
                @Html.EditorFor(model => model.Nome_Animal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome_Animal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DT_Nasc, "Nascimento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-5">
                @Html.EditorFor(model => model.DT_Nasc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DT_Nasc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Castrado, "Castrado?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-2">
                @Html.EditorFor(model => model.Castrado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Castrado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pelagem, "Tamanho do Pelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-2">
                @Html.EditorFor(model => model.Pelagem, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pelagem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COD_RGA, "RGA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.COD_RGA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COD_RGA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Micro_Chip, "Micro-Chip", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.Micro_Chip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Micro_Chip, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div id="pequeno">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Sexo, "Sexo do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.EditorFor(model => model.Sexo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Especificação, "Especificações", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.EditorFor(model => model.Especificação, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Especificação, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Tipo, "Tipo do Animal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-3">
                @Html.DropDownList("ID_Tipo", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Porte, "Porte", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.DropDownList("ID_Porte", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Porte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Municipe, "Municipe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.DropDownList("ID_Municipe", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Municipe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Especie, "Especie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.DropDownList("ID_Especie", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Especie, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Cor, "Cor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-xs-4">
                @Html.DropDownList("ID_Cor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_Cor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div id="formulario" class="text-center">

    <button class="btn btn-info" id="but_voltar" type="submit"> Concluir </button>
    <button class="btn btn-info" id="but_voltar">   @Html.ActionLink("Voltar", "Index", "Animals") </button>
</div>
  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
