
@{
    Layout = null;
}

<!DOCTYPE html>
<!--css-->
<link href="~/Content/BootstrapBundle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/barra12.css" rel="stylesheet" />
<link href="~/Content/Oficial.css" rel="stylesheet" />
<!--Script-->
<script src="~/Content/Script/jquery-3.3.1.slim.min.js"></script>
<script src="~/Content/Script/caiu.js"></script>
<script src="~/Content/Script/form_Animal.js"></script>

<html>
<head>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-defaut">
            <div class="container-fluid">
                <button class="navbar-toggle collapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="marca" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a href="Default.aspx" title="Voltar à página inicial">
                        <img src="~/IMG/marca-governo.png" />
                    </a>
                </h1>
                <img id="logo-sistema" class="pull-right rotulo hidden-xs" src="~/IMG/logo.png" width="269">
            </div>
        </nav>
        <nav class="main-navigation">

            <div class="content-container">


                <ul h4>
                    <li class="big-menu-on-hover cidadao">


                        @Html.ActionLink("Home", "Pesquisa", "Clientes")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </li>
                    <li class="big-menu-on-hover cidadao">


                        @Html.ActionLink("Animal", "Index", "Animals")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </li>
                    <li class="big-menu-on-hover cidadao">


                        @Html.ActionLink("Municipe", "Index", "Municipes")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </li>
                    <li class="big-menu-on-hover cidadao">


                        @Html.ActionLink("Agendamento", "Index", "Agenda")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </li>
                    <li class="big-menu-on-hover cidadao">


                        @Html.ActionLink("Admin", "LoginADM", "Admin") &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </li>
                </ul>

            </div>
        </nav>

    </header>
    <section>
        @RenderBody()
    </section>

</body>
</html>