@model Exer2.Models.Disp_Atend

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Disp_Atend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NT_Atend_Ofer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NT_Atend_Ofer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Atend_Agendado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Atend_Agendado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porte.Nome_Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porte.Nome_Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Atendimento.Consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Atendimento.Consulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Nome_Tipo_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Nome_Tipo_Animal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
