@model Exer2.Models.Agenda

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especie.Nome_Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.Nome_Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porte.Nome_Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porte.Nome_Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Atendimento.Consulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Atendimento.Consulta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.USuario1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.USuario1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
