@model Exer2.Models.Animal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DT_Nasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DT_Nasc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome_Animal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Castrado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Castrado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pelagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_RGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_RGA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Micro_Chip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Micro_Chip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especificação)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especificação)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor.Nome_Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor.Nome_Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie.Nome_Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie.Nome_Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie1.Nome_Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie1.Nome_Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipe.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipe.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.porte.Nome_Porte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.porte.Nome_Porte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Nome_Tipo_Animal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo.Nome_Tipo_Animal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Animal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
