
@{
    Layout = null;
}

<!DOCTYPE html>
<!--css-->
<link href="~/Content/BootstrapBundle.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/barra.css" rel="stylesheet" />
<link href="~/Content/Oficial.css" rel="stylesheet" />
<!--Script-->
<script src="~/Content/Script/jquery-3.3.1.slim.min.js"></script>
<script src="~/Content/Script/caiu.js"></script>
<script src="~/Content/Script/form_Animal.js"></script>

<html>
<head>
</head>
<body>
    <header id="header">
        <div class="barrabranca">
        </div>
        <div class="header">
            <div class="content-container">
                <div class="logo-column ph-col-4 md-col-4">
                    <h1 class="logo">
                        <a href="/">
                            <img src="~/IMG/logo_site.png" alt="Prefeitura de Barueri">
                        </a>
                    </h1>
                </div>
            </div>
            <nav class="main-navigation">

                <div class="content-container">

                    <h4>
                        <ul>
                            <li class="big-menu-on-hover cidadao">


                                @Html.ActionLink("Home", "Pesquisa", "Clientes")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </li>
                            <li class="big-menu-on-hover cidadao">


                                @Html.ActionLink("Animal", "Index", "Animals")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </li>
                            <li class="big-menu-on-hover cidadao">


                                @Html.ActionLink("Municipe", "Index", "Municipes")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </li>
                            <li class="big-menu-on-hover cidadao">


                                @Html.ActionLink("Cadastro", "Create", "Municipes")&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </li>
                            <li class="big-menu-on-hover cidadao">


                                @Html.ActionLink("Agenda", "Index", "Agenda") &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            </li>
                        </ul>
                    </h4>
                </div>
            </nav>
        </div>




    </header>
    <section>
        @RenderBody()
    </section>



</body>
</html>
